:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --fields-color: #888888;
    --basic-blue: #81B3D2;
    --light-font: #333333;
    --form-hotel: #766357;
    --color-rating: #f2f2f2;
    --font-rating: #666666;
    --hover-hotel: #604E43;
    --active-hotel: #503E33;
    --focus-border: #E5E5E5;
    --hover-date: #EBEBEB;
    --button-hover: #669EC0;
    --button-activate: #5496BD;
}
/*
@font-face {
    font-family: "ptsans";
    src: url("/fonts/ptsans.woff2") format("woff2"),
         url("/fonts/ptsans.woff") format("woff1");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ptsansbold";
    src: url("/fonts/ptsansbold.woff2") format("woff2"),
         url("/fonts/ptsansbold.woff") format("woff1");
    font-weight: bold;
    font-style: normal;
}
*/
/* Global */

body {
    min-width: 1280px; 
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

a { 
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto; 
}

/* Main navigation */
.nav-inner {
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
}

.main-nav {
    background-color: var(--basic-white);
}

.list {
    list-style: none;
}

.list-current a:not([href]) {
    background-color: var(--basic-white);
}

.list a {
    color: var(--basic-black);
}

.list a:hover,
.list a:focus {
    color: var(--form-hotel);
}

/* Welcome sedona*/
.background {
    background-image: url(/img/background-photo.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.welcome-sedona {
    text-align: center;
}

/* Reasons */
.reasons .big {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.reasons .small {
    line-height: 26px;
}

/* Reason one */
.one {
    background-color: var(--basic-blue);
    text-align: center;
}
.one h2 {
    font-style: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.one p {
color: var(--basic-white);
}

.reason-one .photo {
    background-color: var(--basic-blue);
}

/* Life */
.life {
    text-align: center;
}

.life h2 {
    font-size: 21px;
    font-weight: 700;
}

/* Reason-two */
.reason-two .photo {
    background-color: var(--basic-blue);
}

.two {
    background-color: var(--basic-blue);
    text-align: center;
}
.two h2 {
    font-style: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.two p {
color: var(--basic-white);
}

/* Other-quistions */
.other-quistions {
    text-align: center;
}

.other-quistions h2 {
    font-size: 21px;
    font-weight: 700;
}

/* Interest*/
.interest {
    text-align: center;
}

.interest span {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.interest .date,
.interest b {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-font);
}
/* Search */
.search {
    line-height: 21px;
    font-weight: 700;
}

.search-hotel {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--form-hotel);
    text-align: center;
}

.search-hotel:hover,
.search-hotel:focus {
  background-color: var(--hover-hotel);
}


.search-hotel:active {
    background-color: var(--active-hotel);
    opacity: .3;
}

/* Form */
.search input {
    font: inherit;
    background-color: transparent;
    border: 0px;
    background-color: var(--color-rating);
    text-transform: uppercase;
  }

.search input:hover {
    background-color: var(--hover-date);
}

.search input:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--focus-border);
}

.calendar::after {
    background-color: "../img/calendar-arrival.png";
}

/* Button */
.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    border: none;
}

button:hover,
button:focus {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-activate);
    opacity: .3;
    border: none;
}
 
/* Footer-inner*/
.footer-inner {
    background-color: var(--color-rating);
}

.telephone-number {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.telephone-number a {
    color: var(--basic-black);
}

.assist {
    line-height: 26px;
}


/*
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: var(--basic-black);
background-color: var(--basic-white);
*/






.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}