:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --fields-color: #888888;
    --basic-blue: #81B3D2;
    --light-font: #333333;
    --form-hotel: #766357;
    --color-rating: #f2f2f2;
    --font-rating: #666666;
    --hover-hotel: #604E43;
    --active-hotel: #503E33;
    --focus-border: #E5E5E5;
    --hover-date: #EBEBEB;
    --button-hover: #669EC0;
    --button-activate: #5496BD;
    --button-opacity: rgba(255, 255, 255, 0.3);
    --logohtml-active:#BDBBBC;
}

@font-face {
    font-family: "ptsans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ptsans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Global */

body {
    min-width: 1280px; 
    margin: 0;
    padding: 0;
    font-family: "ptsans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

a { 
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto; 
}

/*Grid*/
.page {
    height: 100%;
}

.page-body{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/*Main-header*/
.header-inner {
    margin-bottom: 0px;
}

/* Main navigation */
.nav-inner {
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;

}

.main-nav {
    background-color: var(--basic-white);
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo-inner {
    width: 138px;
    height: 70px;
}

.list a {
    color: var(--basic-black);
}

.hotel-item a {
    color: var(--form-hotel);
}

.inform-item a:hover {
    color: var(--basic-blue);
}

.inform-item a:active {
    opacity: .3;
}
/*Container*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Welcome sedona*/
.background {
    background-position: top center;
    background-repeat: no-repeat;
}

.background-inner {
    background-image: url(../img/background-photo.png);
    width: 1200px;
    height: 509px; 
}

.welcome-sedona {
    text-align: center;
}

/* Search-catalog */
.search-catalog {
    background-image: url(../img/background-hotel.png);
    width: 1200px;
    height: 217px;
    color: var(--basic-white);
}

.catalog-form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    border: none;
}

.catalog-search {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;

}

.list-catalog {
    list-style: none;
}

.catalog-form legend,
.catalog-tittle {
    font-weight: 700;
    font-size: 16px;
    color: var(--basic-white);
}

.left-check {
    background-position: center;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
}

.right-check {
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
}

.left-check:hover,
.right-check:hover {
    background-image: url(../img/filter-button-hover.svg);
    background-position: center;
    position: absolute;
    width: 23px;
    height: 24px;
}

.show {
    font: inherit;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--basic-white);
    color: var(--basic-white);
}

.show:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.catalog-search .search-tittle {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.catalog-search p,
.catalog-search a {
    margin: 0;
    font: inherit;
    font-size: 12px;
    line-height: 18px;
}

.catalog-search .price {
    color: var(--basic-blue);
}

.catalog-search .type,
.catalog-search .rating {
    opacity: .3;
    color: var(--basic-black);
    border-bottom: 1px dashed var(--basic-blue);
}

.catalog-search .rating:hover {
    color: var(--basic-blue);
}

.catalog-search .rating:active {
    color: var(--basic-black);
    border: none;
    opacity: 1;
}

.arrow {
    position: relative;
    width: 11px;
    height: 10px;
    margin-bottom: 10px;
    color: var(--basic-white);
    border: none;
    outline: none;
}

.arrow:hover path {
    fill: var(--basic-black);
}

.arrow:active path {
    fill: var(--basic-blue);
    border: none;
}


/* Reasons */
.reasons .big {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.reasons .small {
    line-height: 26px;
    text-align: center;
}

/* Reason one */
.reason {
    display: flex;
    justify-content: space-between;
}

.words {
    background-color: var(--basic-blue);
    text-align: center;
}
.words h2 {
    margin-top: 47px;
    width: 400px;
    font-style: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.words p {
    margin: 0;
    color: var(--basic-white);
}

.reason .photo {
    background-color: var(--basic-white);
    height: 256px;
}

.photo img {
    width: 800px;
    height: 256px;
}

/* Life */
.life {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.life h2 {
    font-size: 21px;
    font-weight: 700;
}

/* Other-quistions */
.other-quistions {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.other-quistions h2 {
    margin-top: 47px;
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 700;
}

/* Interest*/
.interest {
    text-align: center;
}

.interest span {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.interest .question {
    margin-top: 58px;
    margin-bottom: 40px;
}

.interest .date,
.interest b {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-font);
}
/* Search */
.search {
    width: 568px;
    line-height: 21px;
    font-weight: 700;
}

.search-hotel p {
    margin: 0;
    font: inherit;
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--form-hotel);
    text-align: center;
}

.search-hotel p:hover,
.search-hotel p:focus  {
  background-color: var(--hover-hotel);
}

.search-hotel p:active {
    background-color: var(--active-hotel);
    opacity: var(--button-opacity);
}

/* Form */
.search .element-date {
    font: inherit;
    background-color: transparent;
    border: 0px;
    background-color: var(--color-rating);
    text-transform: uppercase;
  }

  .search .element-number {
    font: inherit;
    background-color: transparent;
    border: 0px;
    background-color: var(--color-rating);
    text-transform: uppercase;
  }  

.search .element-date:hover {
    background-color: var(--hover-date);
}

.search .element-date:focus,
.search .element-date:active {
    background-color: var(--basic-white);
    border: 2px solid var(--focus-border);
}

.calendar,
.minus,
.plus {
    color: var(--basic-white);
    background-color: transparent;
    border: none;
    outline: none;
}

.calendar:hover path,
.minus:hover rect,
.plus:hover path {
    fill: var(--basic-black);
}

.calendar:active path,
.minus:active rect,
.plus:active path  {
    fill: var(--basic-blue);
}

.adult-number input,
.children-number input {
    text-align: center;
}

/* Button */
.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    border: none;
    outline: none;
}

.button:hover,
.button:focus {
    background-color: var(--button-hover);
}

.button:active {
    background-color: var(--button-activate);
    color: var(--button-opacity);
    border: none;
}

/*Hotel grid*/
.catalog-hotel {
    display: flex;
    justify-content: space-between;
}



/*Hotel*/
.detail h2 {
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.detail h2:hover {
    color: var(--basic-blue);
} 

.detail h2:active {
    opacity: .3;
}

.detail p {
    margin: 0;
    color: var(--light-font);
}

.detail .button {
    margin: 0;
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    border: none;
    outline: none;
}

.detail .button-book {
    background-color: var(--form-hotel);
}

.detail .button-detail:hover {
    background-color: var(--button-hover);
}

.detail .button-detail:active {
    background-color: var(--button-activate);
    color: var(--button-opacity);
}

.detail .button-book:hover {
    background-color: var(--hover-hotel);
}

.detail .button-book:active {
    background-color: var(--active-hotel);
    color: var(--button-opacity);
}

.rating p {
    color: var(--font-rating);
    background-color: var(--color-rating);
}

.catalog-photo img {
    
    width: 135px;
    height: 90px;
}
/* Footer-inner*/
.footer-inner {
    background-color: var(--color-rating);
}

.footer-inner .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.telephone-number {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.telephone-number a {
    color: var(--basic-black);
}

.social .social-item {
    margin: 0px;
    width: 400px;
    color: var(--basic-white);
    background-color: transparent;
    border: none;
    outline: none;
    width: 46px;
    height: 48px;
}

.twitter:hover rect,
.facebook:hover rect,
.youtube:hover rect {
    fill: var(--button-hover);
}

.twitter:active rect,
.facebook:active rect,
.youtube:active rect {
    fill: var(--button-activate);
}

.twitter:active path,
.facebook:active path,
.youtube:active path {
    fill: var(--button-opacity);
}

.assist {
    line-height: 26px;
}

.assist .logotype {
    color: var(--basic-white);
    background-color: transparent;
    border: none;
    outline: none;
    width: 113.98px;
    height: 39.78px;
}

.logotype:hover path {
    fill: var(--basic-blue);
}

.logotype:active path {
    fill: var(--logohtml-active);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}